.field-icon {
    width: 12px;
    height: 7.3px;
    object-fit: contain;
    float: right;
    margin-right: 14px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

#socionUserPasswordConfirm-error {
  margin-top: 8px;
  font-family: AvenirNext-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ef6060;
}

.placeholder-text-bold {
    font-family: AvenirNext-DemiBold;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.tnc-signup{
  font-family: NotoSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

