.col-left {
  width: 510px;
  height: 100vh;
  background-image: linear-gradient(to left, #fa766b, #b9524a);
}

.logo {
    width: 180px;
    height: 30.3px;
}

.col-form {
  padding-top: 30px;
  width: 274px;
  margin-left: auto;
  margin-right: auto;
}

.text-col-left {
  margin-top: 70vh;
  font-family: ProximaNova-Semibold;
  width: 242px;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.widget-marker {
  margin-top: 38px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  border: solid 1px #ffffff;
  margin-right: 10px;
}

.placeholder-text {
    font-family: AvenirNext-Regular;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.hidden{
  display: none;
}

.invalid-number {
    margin-top: 9px;
}

.login-error {
    color:#ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.invalid-number-text {
  font-family: AvenirNext-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ef6060;
}

.socion-image {
  text-align: left;
}

.input-field-error {
  border-radius: 0.25rem;
  border: solid 1px #ef6060;
  background-color: #ffffff;
}

.auth-button-style {
  margin-top: 39px;
  width: 273px;
  height: 40px;
  border: none;
  box-shadow: 0px 3px 6px rgba(247, 83, 71, 0.35);
  border-radius: 3px;
  background-image: linear-gradient(to left, #fa766b, #b9524a);
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.button-text {
  width: 38px;
  height: 16px;
  font-family: AvenirNext-DemiBold;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.auth-title {
  margin-top: 70.7px;
  background-image: linear-gradient(to left, #fa766b, #b9524a);
  font-family: AvenirNext-DemiBold;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-field-label {
    margin-top: 24px;
    font-family: AvenirNext-DemiBold;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.a-link-style {
    font-family: AvenirNext-DemiBold;
    font-weight: 600;
    color: #bf554d;
    text-decoration: underline;
}

.phone-hint {
    margin-top: 2px;
    font-family: AvenirNext-Regular;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #aaaaaa;
    margin-bottom:0;
}

.form-feature-detail {
  margin-top: 10px;
  font-family: AvenirNext-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #333333;
}

.fa-eye-icon {
    background-color: white;
    font-size: 12.5px;
    color: #666666;
    padding-top: 10px;
}

.auth-footer {
  margin-top: 14px;
  height: 16px;
  font-family: AvenirNext-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #333333;
}

.loader-overlay {
    display:flex;
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
}

.loader-img {
    font-size:85px;
    margin:auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #fa766b, #b9524a);
}

.code-placeholder-text {
  font-family: AvenirNext-DemiBold;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  color: #666666;
}

.mobile-placeholder-text {
    height: 46px;
    font-family: AvenirNext-Medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #999999;
}

.add-member-btn {
  font-family: AvenirNext-DemiBold;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ef6060;
  cursor:pointer;
  float:right;
  padding:0;
}

input.add-member-btn:hover, button.add-member-btn:focus{
    color:#ef6060;
    box-shadow:none;
}