{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup-request-otp.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!-- body content -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4 col-left d-flex align-items-center flex-column">
        </div>
        <!-- Toaster -->
        <div aria-live="polite" aria-atomic="true" style="position: absolute; top:10px;right:10px; min-height: 200px;">
            <div class="toast" style="position: relative;" data-delay="5000">
                <div class="toast-body d-flex justify-content-between">
                    <div id="login-error-message" style="font-size:14px;font-weight:bold;"></div>
                    <div>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"
                                style="line-height: 0.7;color:#ffffff;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-8 align-self-center">
            <div class="col-form">
                <div class="socion-image">
                    <img class="logo" src="{% static 'assets/newlogo.png' %}" alt="Socion"/>
                </div>
                <!--Sign Up Request OTP-->
                <div id="sign-up-request-otp">
                    <div class="text-left auth-title">Forgot Password ?</div>
                    <form id="socionSignUpForm">
                        <div class="form-group" style="margin-bottom:0rem;">
                            <label class="form-field-label" for="socionPhoneNumber">MOBILE NUMBER</label>
                            <div class="input-group" id="phoneNumber">
                                <div class="input-group-prepend">
                                    <select class="input-group-text placeholder-text"
                                            style="width: 56px; padding: 0; padding-left:1.5px; background-color: #ffffff;"
                                            id="socionUserCountryCode">
                                    </select>
                                </div>
                                <input id="socionPhoneNumber" class="form-control placeholder-text" placeholder="e.g 9999999999"
                                   style="border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
                                <div class="input-group-append hidden" id="mobio-invalid">
                                    <i class="input-group-text fa fa-exclamation-circle"
                                       style="color: red; background-color: white"></i>
                                </div>
                            </div>
                            <p class="phone-hint">Country Code</p>
                            <div class="invalid-number">
                                <span id="phoneNumberErrorMessage" class="invalid-number-text hidden">Please enter a valid mobile number</span>
                            </div>
                        </div>

                        <button type="submit" id="button-signup-submit" class="auth-button-style"><span
                                class="button-text">REQUEST FOR OTP</span>
                        </button>
                    </form>
                </div>
                <!--Sign up Request OTP Ends-->
                <!--Sign up Enter OTP and Proceed to Verify-->
                <div id="sign-up-enter-otp" style="display:none;">
                    <div class="text-left auth-title">Enter OTP</div>
                    <div class="form-feature-detail">
                        We have sent you an SMS with the OTP<br/>
                        Please enter the code below
                    </div>
                    <form id="socionOTPForm">
                        <div class="form-group" style="margin-top:24px;margin-bottom:0rem;">
                            <label class="form-field-label" for="otp-inputs">ONE TIME PASSWORD</label>
                            <div id="otp-inputs" style="margin-top: 8px;box-sizing: border-box;">
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-1"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-2"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-3"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-4"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-5"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-6"
                                       pattern="[0-9]{1}"/>
                            </div>
                            <div id="OTPError" class="hidden invalid-number">
                                <span class="invalid-number-text">Please enter a Valid OTP</span>
                            </div>
                            <div class="resend-otp" id="resendOTP">
                                Resend OTP
                            </div>
                        </div>
                        <button type="submit" id="button-otp-submit" class="auth-button-style">
                            <span class="button-text">
                                VERIFY AND PROCEED
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    var config = {
        sendOTPUrl: "{{settings.BASE_URL}}" + "user/send-otp",
        validateOTPUrl: "{{settings.BASE_URL}}" + "user/validate-otp",
        getUserPhoneNumberField: function(){
            return $("#socionPhoneNumber");
        },
        getCountryCodeField: function(){
            return $("#socionUserCountryCode");
        },
        getPhoneNumberErrorField: function(){
            return $("#phoneNumberErrorMessage");
        },
        getOTPField: function(){
            return $("#otp-inputs");
        },
        getEncryptedOTP: function(otp){
            if(otp !== ''){
                var encryptedOtp = encrypt(otp);
                return encryptedOtp;
            }
            else {
                return otp;
            }
        }
    }

    $("#socionSignUpForm").submit(function(event){
        event.preventDefault();
        var phoneNumber = config.getUserPhoneNumberField().val();
        var countryCode = config.getCountryCodeField().val();
        localStorage.setItem("socion_userPhoneNumber",phoneNumber);
        localStorage.setItem("socion_userCountryCode",countryCode);
        var socionSendOTPUrl = config.sendOTPUrl + "?phoneNumber=" + phoneNumber + "&typeOfOTP=ForgotPassword-OTP&countryCode="+ countryCode;
        if(checkPhoneNumberLength(config.getUserPhoneNumberField().val()) && config.getUserPhoneNumberField().val() != "" ){
            disableScreen();
            $.ajax(socionSendOTPUrl, {
                method: "GET",
                contentType: "application/json",
                beforeSend: function( xhr ){
                    config.getUserPhoneNumberField().empty();
                }
            })
            .done(function(data, textStatus, jqXHR){
                $('.loader-overlay').remove();
                if(data.responseCode === 200){
                    $("#sign-up-request-otp").css('display','none');
                    $("#sign-up-enter-otp").css('display','block');
                }
                else if(data.responseCode === 404){
                    if(!checkPhoneNumberLength(config.getUserPhoneNumberField().val())){
                        config.getPhoneNumberErrorField().removeClass("hidden");
                        config.getPhoneNumberErrorField().text("Please enter a valid mobile number");
                    }
                    else if(data.message === "User with the PhoneNumber does not exist" || data.message === "User does not exist with this PhoneNumber"){
                        $('.toast').addClass("login-error");
                        $('.toast #login-error-message').text("User with the PhoneNumber does not exist...!!!");
                        $('.toast').toast('show');
                        $('.toast').on('hidden.bs.toast', function(){
                            $(this).removeClass("login-error");
                        });
                    }
                }
            })
            .fail(function(jqXHR, textStatus, errorThrown){
                $('.loader-overlay').remove();
                var statusCode = jqXHR.status;
                if(statusCode === 422){
                    var errors = jqXHR.responseJSON.errors;
                    $.each(errors, function(_, error){
                        console.log(error);
                    });
                }else{
                    $('.toast #login-error-message').text("Something went wrong...!!!");
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function(){
                        $(this).removeClass("login-error");
                    });
                }
            });
        } else {
            $('.loader-overlay').remove();
            config.getPhoneNumberErrorField().removeClass("hidden");
            config.getPhoneNumberErrorField().text("Please enter a valid mobile number");
            $("#mobio-invalid").removeClass("hidden");
            $("#phoneNumber").addClass("input-field-error");
            $("#socionPhoneNumber").removeAttr("style");
        }
    });

    $("#resendOTP").click(function(event){
        disableScreen();
        event.preventDefault();
        var userName = localStorage.getItem("socion_userName");
        var phoneNumber = localStorage.getItem("socion_userPhoneNumber");
        var countryCode = localStorage.getItem("socion_userCountryCode");
        var socionSendOTPUrl = config.sendOTPUrl + "?phoneNumber=" + phoneNumber + "&typeOfOTP=ForgotPassword-OTP&countryCode="+ countryCode;
        $.ajax(socionSendOTPUrl, {
            method: "GET",
            contentType: "application/json"
        })
        .done(function(data, textStatus, jqXHR){
            $('.loader-overlay').remove();
            if(data.responseCode === 200){
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("OTP sent successfully...");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
            else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            $('.loader-overlay').remove();
            var statusCode = jqXHR.status;
            if(statusCode === 422){
                var errors = jqXHR.responseJSON.errors;
                $.each(errors, function(_, error){
                    console.log(error);
                });
            }else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        });
    });

    $("#socionOTPForm").submit(function(event){
        disableScreen();
        event.preventDefault();
        var socionValidateOTPUrl = config.validateOTPUrl;
        var phoneNumber = localStorage.getItem("socion_userPhoneNumber");
        var countryCode = localStorage.getItem("socion_userCountryCode");
        var otp = config.getOTPField().children().toArray();
        var otpText = "";
        otp.forEach(function(item){
            otpText = otpText + item.value;
        });
        var encryptedOtp = config.getEncryptedOTP(otpText);
        var otpCreds = {phoneNumber: phoneNumber,typeOfOTP:"ForgotPassword-OTP",otp:encryptedOtp,countryCode:countryCode};
        var jsonCreds = JSON.stringify(otpCreds);
        $.ajax(socionValidateOTPUrl, {
            method: "POST",
            contentType: "application/json",
            data: jsonCreds
        })
        .done(function(data, textStatus, jqXHR){
            $('.loader-overlay').remove();
            if(data.responseCode === 200){
                config.getOTPField().children().val('');
                window.location.href = '/oauth/reset-password';
            }
            else if (data.responseCode === 400 && otpText === ""){
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("Please Enter OTP");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            } else {
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("Incorrect OTP");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            $('.loader-overlay').remove();
            var statusCode = jqXHR.status;
            if(statusCode === 422){
                var errors = jqXHR.responseJSON.errors;
                $.each(errors, function(_, error){
                    console.log(error);
                });
            }else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        });
    });

});
</script>
<script>
$(document).ready(function () {
    localStorage.clear();
});
</script>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/custom/mobileNumberValidation.js' %}"></script>
<script src="{% static 'js/custom/countryCodes.js' %}"></script>
<script src="{% static 'js/custom/otp.js' %}"></script>
<script src="{% static 'js/custom/encrypt.js' %}"></script>
{% endblock %}
