{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup-create-password.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!-- body content -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4 col-left d-flex align-items-center flex-column">
        </div>
        <!-- Toaster -->
        <div aria-live="polite" aria-atomic="true" style="position: absolute; top:10px;right:10px; min-height: 200px;">
            <div class="toast" style="position: relative;" data-delay="5000">
                <div class="toast-body d-flex justify-content-between">
                    <div id="login-error-message" style="font-size:14px;font-weight:bold;"></div>
                    <div>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"
                                style="line-height: 0.7;color:#ffffff;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-8 align-self-center">
            <div class="col-form">
                <div class="pda-image">
                    
                </div>
                <div class="text-left auth-title">Reset Password</div>
                <div class="form-feature-detail">
                    Please reset password
                </div>
                <form id="pdaCreatePasswordForm">
                    <div class="form-group" style="margin-top:24px;margin-bottom:0rem;">
                        <label class="form-field-label" for="pdaPhoneNumber">PHONE NUMBER</label>
                        <div class="input-group" id="phoneNumber">
                            <div class="input-group-prepend">
                                <select class="input-group-text placeholder-text-bold"
                                        style="width: 56px; padding: 0; padding-left:1.5px; background-color: #ffffff;"
                                        id="pdaUserCountryCode" disabled>
                                </select>
                            </div>
                            <input type="tel" class="form-control placeholder-text-bold" id="pdaPhoneNumber"
                                   placeholder="e.g 9999999999"
                                   style="border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;"
                                   disabled>
                            <div class="input-group-append hidden" id="mobio-invalid">
                                <i class="input-group-text fa fa-exclamation-circle"
                                   style="color: red; background-color: white"></i>
                            </div>
                        </div>
                        <p class="phone-hint">Country Code</p>
                        <div class="invalid-number">
                            <span id="phoneNumberErrorMessage" class="invalid-number-text hidden">Please enter a valid mobile number</span>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom:0rem;">
                        <label class="form-field-label" for="pdaUserPassword">ENTER DESIRED PASSWORD</label>
                        <div class="input-group">
                            <input type="password" class="form-control placeholder-text" id="pdaUserPassword"
                                   name="pdaUserPassword"
                                   placeholder="●●●●●●●●" minlength="1">
                            <div class="input-group-append" id="toggle-password">
                                <i class="input-group-text fa fa-eye fa-eye-icon"></i>
                            </div>
                        </div>
                        <div class="invalid-number">
                            <span id="passwordErrorMessage" class="invalid-number-text hidden">Please enter a valid password</span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="form-field-label" for="pdaUserPasswordConfirm">RE-ENTER PASSWORD</label>
                        <input type="password" class="form-control placeholder-text" id="pdaUserPasswordConfirm"
                               name="pdaUserPasswordConfirm"
                               placeholder="●●●●●●●●" minlength="1">
                        <div class="invalid-number">
                            <span id="confirmPasswordErrorMessage" class="invalid-number-text hidden">Please enter a valid password</span>
                        </div>
                    </div>
                    <button type="submit" id="button-signup-password-submit" class="auth-button-style"><span
                            class="button-text">CONFIRM AND PROCEED</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- endcontent -->
<script>
$(function(){
    var config = {
        forgotPasswordUrl: "{{settings.BASE_URL}}" + "user/forgot-password",
        getUserPhoneNumberField: function(){
            return $("#pdaPhoneNumber");
        },
        getCountryCodeField: function(){
            return $("#pdaUserCountryCode");
        },
        getPasswordField: function(){
            return $("#pdaUserPassword");
        },
        getConfirmPasswordField: function(){
            return $("#pdaUserPasswordConfirm");
        },
        getPhoneNumberErrorField: function(){
            return $("#phoneNumberError");
        },
        getPasswordErrorField: function(){
            return $("#passwordErrorMessage");
        },
        getConfirmPasswordErrorField: function(){
            return $("#confirmPasswordErrorMessage");
        },
        getEncryptedPassword: function(password){
            if(password !== ''){
                var encryptedPassword = encrypt(password);
                return encryptedPassword;
            }
            else {
                return password;
            }
        }
    }

    function init(){
        var phoneNumber = localStorage.getItem("pda_userPhoneNumber");
        $("#pdaPhoneNumber").val(phoneNumber);
    }
    init();

    $("#pdaCreatePasswordForm").submit(function(event){
        disableScreen();
        event.preventDefault();
        var pdaForgotPasswordUrl = config.forgotPasswordUrl;
        var phoneNumber = config.getUserPhoneNumberField().val();
        var countryCode = config.getCountryCodeField().val();
        var password = config.getPasswordField().val();
        var confirmPassword = config.getConfirmPasswordField().val();
        var signupCreds = {userName: phoneNumber,password:config.getEncryptedPassword(confirmPassword),countryCode:countryCode};
        var jsonCreds = JSON.stringify(signupCreds);
        if(config.getPasswordField().val() === config.getConfirmPasswordField().val() && config.getConfirmPasswordField().val().length >= 1) {
            $.ajax(pdaForgotPasswordUrl, {
                method: "POST",
                contentType: "application/json",
                data: jsonCreds,
                beforeSend: function( xhr ){
                    config.getPasswordField().empty();
                    config.getConfirmPasswordField().empty();
                }
            })
            .done(function(data, textStatus, jqXHR){
                $('.loader-overlay').remove();
                if(data.responseCode === 200){
                    window.location.href = '/oauth/login';
                }
                else{
                    $('.toast #login-error-message').text("Something went wrong...!!!");
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function(){
                        $(this).removeClass("login-error");
                    });
                }
            })
            .fail(function(jqXHR, textStatus, errorThrown){
                $('.loader-overlay').remove();
                var statusCode = jqXHR.status;
                if(statusCode === 422){
                    var errors = jqXHR.responseJSON.errors;
                    $.each(errors, function(_, error){
                        console.log(error);
                    });
                }else{
                    $('.toast #login-error-message').text("Something went wrong...!!!");
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function(){
                        $(this).removeClass("login-error");
                    });
                }
            });
        } else if(config.getPasswordField().val().length == 0 && config.getConfirmPasswordField().val().length == 0) {
            $('.loader-overlay').remove();
            $('#passwordErrorMessage').text("Password is Required");
            $('#passwordErrorMessage').removeClass("hidden");
        } else if(config.getPasswordField().val() !== config.getConfirmPasswordField().val()) {
            $('.loader-overlay').remove();
            $('#confirmPasswordErrorMessage').text("Password doesn't match");
            $('#confirmPasswordErrorMessage').removeClass("hidden");
        } else if(config.getPasswordField().val().length > 0 &&  config.getConfirmPasswordField().val() === "") {
            $('.loader-overlay').remove();
            $('#passwordErrorMessage').addClass("hidden");
            $('#confirmPasswordErrorMessage').text("Please enter a password");
            $('#confirmPasswordErrorMessage').removeClass("hidden");
        } else if(config.getPasswordField().val().length == 0) {
            $('.loader-overlay').remove();
            $('#passwordErrorMessage').text("Password is Required");
            $('#passwordErrorMessage').removeClass("hidden");
        } else if(config.getConfirmPasswordField().val().length == 0) {
            $('.loader-overlay').remove();
            $('#confirmPasswordErrorMessage').text("Please enter a password");
            $('#confirmPasswordErrorMessage').removeClass("hidden");
        }
    });

    $("#toggle-password").click(function(event){
        var passwordField = $("#pdaUserPassword")
        if(passwordField.attr('type') === 'text'){
            passwordField.attr('type','password');
        } else {
            passwordField.attr('type','text');
        }
    });

});

</script>
<script>

$('#pdaUserPassword, #pdaUserPasswordConfirm').on('blur', function () {
  if ($('#pdaUserPassword').val() == $('#pdaUserPasswordConfirm').val()) {
    $('#passwordErrorMessage').addClass("hidden");
    $('#confirmPasswordErrorMessage').addClass("hidden");
  } else if ($('#pdaUserPasswordConfirm').val().length > 0 && $('#pdaUserPassword').val() === "") {
    $('#passwordErrorMessage').text("Password is Required");
    $('#passwordErrorMessage').removeClass("hidden");
  } else if ($('#pdaUserPasswordConfirm').val().length == 0 && $('#pdaUserPassword').val() != $('#pdaUserPasswordConfirm').val()) {
    $('#confirmPasswordErrorMessage').addClass("hidden");
  } else if ($('#pdaUserPassword').val().length > 0 && $('#pdaUserPassword').val() !== $('#pdaUserPasswordConfirm').val()) {
    $('#confirmPasswordErrorMessage').text("Password doesn't match");
    $('#confirmPasswordErrorMessage').removeClass("hidden");
    $('#passwordErrorMessage').addClass("hidden");
  }
});
</script>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/custom/mobileNumberValidation.js' %}"></script>
<script src="{% static 'js/custom/countryCodes.js' %}"></script>
<script src="{% static 'js/custom/encrypt.js' %}"></script>
{% endblock %}
