{% extends 'core/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup-request-otp.css' %}" type="text/css">
{% endblock %}

{% block content %}
<!-- body content -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-4 col-left d-flex align-items-center flex-column">
        </div>
        <!-- Toaster -->
        <div aria-live="polite" aria-atomic="true" style="position: absolute; top:10px;right:10px; min-height: 200px;">
            <div class="toast" style="position: relative;" data-delay="5000">
                <div class="toast-body d-flex justify-content-between">
                    <div id="login-error-message" style="font-size:14px;font-weight:bold;"></div>
                    <div>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"
                                style="line-height: 0.7;color:#ffffff;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-8 align-self-center">
            <div class="col-form">
                <div class="pda-image">
                    
                </div>
                <!--Sign Up Request OTP-->
                <div id="sign-up-request-otp">
                    <div class="text-left auth-title">Sign Up</div>
                    <form id="pdaSignUpForm">
                        <div class="form-group">
                            <label class="form-field-label" for="pdaUserName">NAME</label>
                            <input type="text" class="form-control placeholder-text" id="pdaUserName"
                                   placeholder="e.g Anand ML" onkeypress="return AvoidSpace(event, 'pdaUserName')" onkeyup="return RemoveSpace(event, 'pdaUserName')">
                            <div class="invalid-number">
                                <span id="userNameErrorMessage" class="invalid-number-text hidden">Please enter a user name</span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0rem;">
                            <label class="form-field-label" for="pdaPhoneNumber">MOBILE NUMBER</label>
                            <div class="input-group" id="phoneNumber">
                                <div class="input-group-prepend">
                                    <select class="input-group-text placeholder-text"
                                            style="width: 56px; padding: 0; padding-left:1.5px; background-color: #ffffff;"
                                            id="pdaUserCountryCode">
                                    </select>
                                </div>
                                <input id="pdaPhoneNumber" class="form-control placeholder-text" placeholder="e.g 9999999999"
                                   style="border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
                                <div class="input-group-append hidden" id="mobio-invalid">
                                    <i class="input-group-text fa fa-exclamation-circle"
                                       style="color: red; background-color: white"></i>
                                </div>
                            </div>
                            <p class="phone-hint">Country Code</p>
                            <div class="invalid-number">
                                <span id="phoneNumberErrorMessage" class="invalid-number-text hidden">Please enter a valid mobile number</span>
                            </div>
                        </div>

                        <button type="submit" id="button-signup-submit" class="auth-button-style"><span
                                class="button-text">REQUEST FOR OTP</span>
                        </button>
                    </form>
                </div>
                <!--Sign up Request OTP Ends-->
                <!--Sign up Enter OTP and Proceed to Verify-->
                <div id="sign-up-enter-otp" style="display:none;">
                    <div class="text-left auth-title">Enter OTP</div>
                    <div class="form-feature-detail">
                        We have sent you an SMS with the OTP<br/>
                        Please enter the code below
                    </div>
                    <form id="pdaOTPForm">
                        <div class="form-group" style="margin-top:24px;margin-bottom:0rem;">
                            <label class="form-field-label" for="otp-inputs">ONE TIME PASSWORD</label>
                            <div id="otp-inputs" style="margin-top: 8px;box-sizing: border-box;">
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-1"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-2"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-3"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-4"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-5"
                                       pattern="[0-9]{1}"/>
                                <input class="box" type="text" maxLength="1" size="1" min="0" max="9" id="otp-6"
                                       pattern="[0-9]{1}"/>
                            </div>
                            <div id="OTPError" class="hidden invalid-number">
                                <span class="invalid-number-text">Please enter a Valid OTP</span>
                            </div>
                            <div class="resend-otp" id="resendOTP">
                                Resend OTP
                            </div>
                        </div>
                        <button type="submit" id="button-otp-submit" class="auth-button-style">
                            <span class="button-text">
                                VERIFY AND PROCEED
                            </span>
                        </button>
                    </form>
                </div>
                <!--Sign up Enter OTP and Proceed to Verify Ends-->
                <div class="auth-footer">Already have an account? <a class="a-link-style" href="{% url 'login' %}">Login</a> here</div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    var config = {
        signUpUrl: "{{settings.BASE_URL}}" + "user/register",
        validateRegisterUrl: "{{settings.BASE_URL}}" + "user/validate-otp",
        getUserNameField: function(){
            return $("#pdaUserName");
        },
        getUserPhoneNumberField: function(){
            return $("#pdaPhoneNumber");
        },
        getCountryCodeField: function(){
            return $("#pdaUserCountryCode");
        },
        getUserNameErrorField: function(){
            return $("#userNameErrorMessage");
        },
        getPhoneNumberErrorField: function(){
            return $("#phoneNumberErrorMessage");
        },
        getOTPField: function(){
            return $("#otp-inputs");
        },
        getEncryptedOTP: function(otp){
            if(otp !== ''){
                var encryptedOtp = encrypt(otp);
                return encryptedOtp;
            }
            else {
                return otp;
            }
        }
    }

    $("#pdaSignUpForm").submit(function(event){
        event.preventDefault();
        var pdaSignUpUrl = config.signUpUrl;
        var userName = config.getUserNameField().val();
        var phoneNumber = config.getUserPhoneNumberField().val();
        var countryCode = config.getCountryCodeField().val();
        localStorage.setItem("pda_userName",userName);
        localStorage.setItem("pda_userPhoneNumber",phoneNumber);
        localStorage.setItem("pda_userCountryCode",countryCode);
        var signupCreds = {name: userName,phoneNumber: phoneNumber,countryCode:countryCode};
        var jsonCreds = JSON.stringify(signupCreds);
        if(config.getUserNameField().val() !== "" && checkPhoneNumberLength(config.getUserPhoneNumberField().val())) {
            disableScreen();
            $.ajax(pdaSignUpUrl, {
                method: "POST",
                contentType: "application/json",
                data: jsonCreds,
                beforeSend: function( xhr ){
                    config.getUserNameField().empty();
                    config.getUserPhoneNumberField().empty();
                }
            })
            .done(function(data, textStatus, jqXHR){
                $('.loader-overlay').remove();
                if(data.responseCode === 200){
                    $("#sign-up-request-otp").css('display','none');
                    $("#sign-up-enter-otp").css('display','block');
                }
                else if(data.responseCode === 409) {
                    if(data.message === "User already exists."){
                        $('.toast').addClass("login-error");
                        $('.toast #login-error-message').text("User already exists...");
                        $('.toast').toast('show');
                        $('.toast').on('hidden.bs.toast', function(){
                            $(this).removeClass("login-error");
                        });
                    }
                }
                else if(data.responseCode === 400){
                    if(data.message === "This phone number is not valid for this country"){
                        $('.toast').addClass("login-error");
                        $('.toast #login-error-message').text("This phone number is not valid for this country...");
                        $('.toast').toast('show');
                        $('.toast').on('hidden.bs.toast', function(){
                            $(this).removeClass("login-error");
                        });
                    }
                }
                else{
                    $('.toast #login-error-message').text("Something went wrong...!!!");
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function(){
                        $(this).removeClass("login-error");
                    });
                }
            })
            .fail(function(jqXHR, textStatus, errorThrown){
                $('.loader-overlay').remove();
                var statusCode = jqXHR.status;
                if(statusCode === 422){
                    var errors = jqXHR.responseJSON.errors;
                    $.each(errors, function(_, error){
                        if(error.field === "phoneNumber" && error.message === "phoneNumbermust not be empty"){
                            config.getPhoneNumberErrorField().text("Phone Number is Required");
                        }
                        else {
                            config.getPhoneNumberErrorField().text("Phone Number is not Valid");
                        }
                    });
                } else {
                    $('.toast #login-error-message').text("Something went wrong...!!!");
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function(){
                        $(this).removeClass("login-error");
                    });
                }
            });
        } else {
            $('.loader-overlay').remove();
            if(config.getUserNameField().val() === "" && config.getUserPhoneNumberField().val() === "") {
                config.getUserNameErrorField().text("Please enter username");
                config.getUserNameErrorField().removeClass("hidden");
                config.getPhoneNumberErrorField().removeClass("hidden");
                config.getPhoneNumberErrorField().text("Please enter a valid mobile number");
                $("#mobio-invalid").removeClass("hidden");
                $("#phoneNumber").addClass("input-field-error");
                $("#pdaPhoneNumber").removeAttr("style");
            }
            else if (config.getUserNameField().val() === ""){
                config.getUserNameErrorField().text("Please enter the User Name");
                config.getUserNameErrorField().removeClass("hidden");
            } else {
                config.getPhoneNumberErrorField().removeClass("hidden");
                config.getPhoneNumberErrorField().text("Please enter a valid mobile number");
                $("#mobio-invalid").removeClass("hidden");
                $("#phoneNumber").addClass("input-field-error");
                $("#pdaPhoneNumber").removeAttr("style");
            }

        }
    });

    $("#resendOTP").click(function(event){
        disableScreen();
        event.preventDefault();
        var pdaResendOTPUrl = config.signUpUrl;
        var userName = localStorage.getItem("pda_userName");
        var phoneNumber = localStorage.getItem("pda_userPhoneNumber");
        var countryCode = localStorage.getItem("pda_userCountryCode");
        var resendCreds = {name: userName,phoneNumber: phoneNumber,countryCode:countryCode};
        var jsonCreds = JSON.stringify(resendCreds);
        $.ajax(pdaResendOTPUrl, {
            method: "POST",
            contentType: "application/json",
            data: jsonCreds
        })
        .done(function(data, textStatus, jqXHR){
            $('.loader-overlay').remove();
            if(data.responseCode === 200){
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("OTP sent successfully...");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
            else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            $('.loader-overlay').remove();
            var statusCode = jqXHR.status;
            if(statusCode === 422){
                var errors = jqXHR.responseJSON.errors;
                $.each(errors, function(_, error){
                    console.log(error);
                });
            }else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        });
    });

    $("#pdaOTPForm").submit(function(event){
        disableScreen();
        event.preventDefault();
        var pdaValidateRegisterUrl = config.validateRegisterUrl;
        var phoneNumber = localStorage.getItem("pda_userPhoneNumber");
        var countryCode = localStorage.getItem("pda_userCountryCode");
        var otp = config.getOTPField().children().toArray();
        var otpText = "";
        otp.forEach(function(item){
            otpText = otpText + item.value;
        });
        var encryptedOtp = config.getEncryptedOTP(otpText);
        var otpCreds = {phoneNumber: phoneNumber,typeOfOTP:"Registration-OTP",otp:encryptedOtp,countryCode:countryCode};
        var jsonCreds = JSON.stringify(otpCreds);
        $.ajax(pdaValidateRegisterUrl, {
            method: "POST",
            contentType: "application/json",
            data: jsonCreds
        })
        .done(function(data, textStatus, jqXHR){
            $('.loader-overlay').remove();
            if(data.responseCode === 200){
                // console.log(JSON.stringify(data));
                config.getOTPField().children().val('');
                window.location.href = '/oauth/signup-create-password';
            }
            else if (data.responseCode === 400 && otpText === ""){
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("Please Enter OTP");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            } else {
                $('.toast').addClass("login-error");
                $('.toast #login-error-message').text("Incorrect OTP");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown){
            $('.loader-overlay').remove();
            var statusCode = jqXHR.status;
            if(statusCode === 422){
                var errors = jqXHR.responseJSON.errors;
                $.each(errors, function(_, error){
                    console.log(error);
                });
            }else{
                $('.toast #login-error-message').text("Something went wrong...!!!");
                $('.toast').toast('show');
                $('.toast').on('hidden.bs.toast', function(){
                    $(this).removeClass("login-error");
                });
            }
        });
    });

});
</script>
<script>
/*$(document).ready(function () {
    localStorage.clear();
});*/
</script>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/custom/mobileNumberValidation.js' %}"></script>
<script src="{% static 'js/custom/countryCodes.js' %}"></script>
<script src="{% static 'js/custom/otp.js' %}"></script>
<script src="{% static 'js/custom/encrypt.js' %}"></script>
{% endblock %}
