.header {
    height: 80px;
    position: relative;
    background-image: linear-gradient(to left, #3e993f, #2b8880);
}

.socion-head {
    position: absolute;
    width: 81px;
    height: 81px;
    left: 150px;
    top: 21px;
    border-radius: 50px;
    background-color: #ffffff;
}

.logo {
    width: 81px;
    height: 81px;
}

.account {
    position: absolute;
    top: 45px;
    right: 206px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-image: linear-gradient(to left, #3e993f, #2b8880);
    border-radius: 50%;
    padding: 12px 10px;
}

.go-to {
    position: absolute;
    top: 45px;
    right: 289px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-image: linear-gradient(to left, #3e993f, #2b8880);
    border-radius: 50%;
    padding: 12px 10px;
}

.home {
    position: absolute;
    top: 45px;
    right: 373px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    padding: 12px 10px;
    background-color: #f7b500;
}

.notification {
    position: absolute;
    top: 28px;
    right: 180px;
    width: 19px;
    height: 22px;
    color: #ffffff;
}

.icon {
    color: #ffffff;
    vertical-align: middle;
}

.number {
    position: absolute;
    top: 20px;
    right: 165px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 0.9px #ffffff;
    background-color: #f7b500;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.text-notification {
    font-family: AvenirNext-Bold;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
}